* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

header {

    background-color: rgb(151, 250, 250);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container {
    background-color: rgb(255, 174, 24);
    height: 70px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    border: dashed black 3px;
    align-items: center;
    
  
    
    
}

a{
    text-decoration: none;
    font-size: 20px;
    
}

/* main */

.main-div1{

    background-color: rgb(7, 0, 109);
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.div-container1 {

    background-color: rgb(247, 143, 214);
    height: 250px;
    width: 50%;
    border: dashed black 3px;
    
}
 /* seconda parte  */
.main-div2 {
    
    background-color: rgb(255, 255, 255);
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.div-container2 {

    background-color: rgb(47, 122, 220);
    height: 350px;
    width: 40%;
    border: dashed black 2px;

}
.div-container2-1 {

    background-color: rgb(249, 152, 158);
    height: 350px;
    width: 25%;
    border: dashed black 2px;

}

/* terza parte */

.main-div3 {

    background-color: rgb(195, 195, 195);
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.div-container3 {

    background-color: rgb(47, 122, 220);
    height: 350px;
    width: 40%;
    border: dashed black 2px;

}
.div-container3-1 {

    background-color: rgb(249, 152, 158);
    height: 350px;
    width: 25%;
    border: dashed black 2px;
}

.main-div4 {

    background-color: rgb(195, 195, 195);
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.div-container4 {

    background-color: rgb(15, 137, 56);
    height: 500px;
    width: 65%;
    border: dashed black 2px;

}